---
title: Scout Dashboard
---

<div class="device-list-info">
  4 devices connected
</div>

<ul class="device-list">
  <li class="device-list--device device-list--device__tv">
    <a href="/lg.html">LG Smart TV</a>
    <span class="device-list--device__warning">
      Warning
    </span>
  </li>
  <li class="device-list--device device-list--device__console">
    <a href="#">PlayStation 4</a>
  </li>
  <li class="device-list--device device-list--device__console">
    <a href="#">XBox</a>
  </li>
  <li class="device-list--device device-list--device__home">
    <a href="#">BabyMoov Wifi Monitor</a>
  </li>
</ul>
