---
title: Scout Dashboard
---

<div class="device-list-info">
  3 devices connected
</div>

<ul class="device-list">
  <li class="device-list--device device-list--device__tv">
    <a href="#">Samsung Smart TV</a>
  </li>
  <li class="device-list--device device-list--device__console">
    <a href="#">PlayStation 4</a>
  </li>
  <li class="device-list--device device-list--device__home">
    <a href="/hikvision.html">
      Hikvision CCTV Camera
      <span class="device-list--device__warning">
        Warning
      </span>
    </a>
  </li>
</ul>

