---
title: Scout Dashboard
---

<div class="device-list-info">
  3 devices connected
</div>

<ul class="device-list">
  <li class="device-list--device device-list--device__tv">
    <a href="#">LG Smart TV</a>
  </li>
  <li class="device-list--device device-list--device__console">
    <a href="#">PlayStation 3</a>
  </li>
  <li class="device-list--device device-list--device__home">
    <a href="/hive.html">
      Hive Smart Thermostat
      <span class="device-list--device__warning">
        Warning
      </span>
    </a>
  </li>
</ul>


