---
title: Hikvision CCTV Camera
---

<div class="device-list--device device-list--device__home">
  <a href="#">Hikvision CCTV Camera</a>
  <span class="device-list--device__warning">
    Warning
  </span>
</div>

<div class="device-warning">

  <p>This device contains multiple vulnerabilities which make it simple to hack via the internet, even when using a strong password.</p>
  <p>Such attacks can be carried out automatically and give the attacker full “admin” access to the devices, including video footage and configuration.</p>

  <div class="device-warning--options">
    <p><a href="/ignore.html"><button class="button button__green">OK, don’t warn me again</button></a></p>
    <p><a href="/hikvision_response.html"><button class="button button__red">I’m not comfortable with this</button></p>
  </div>
</div>


