---
title: Hive Smart Thermostat
---

<div class="device-list--device device-list--device__tv">
  <a href="#">Hive Smart Thermostat</a>
  <span class="device-list--device__warning">
    Warning
  </span>
</div>

<div class="device-warning">
  <p>The terms and conditions permit British Gas to share your data with any third party, for very broad purposes.</p>
  <p>This includes dates you’ve set for “holiday mode” and it is likely the data could reveal when you are in your home.</p>

  <div class="device-warning--options">
    <p><a href="/ignore.html"><button class="button button__green">OK, don’t warn me again</button></a></p>
    <p><a href="/hive_response.html"><button class="button button__red">I’m not comfortable with this</button></p>
  </div>
</div>


