---
title: Scout Dashboard
---

<div class="device-list-info">
  4 devices connected
</div>

<ul class="device-list">
  <li class="device-list--device device-list--device__tv">
    <a href="/samsung.html">Samsung Smart TV</a>
    <span class="device-list--device__warning">
      Warning
    </span>
  </li>
  <li class="device-list--device device-list--device__home">
    <a href="#">Hive Smart Thermostat</a>
  </li>
  <li class="device-list--device device-list--device__laptop">
    <a href="#">Macbook Pro</a>
  </li>
  <li class="device-list--device device-list--device__phone">
    <a href="#">
      HTC One A9s
    </a>
  </li>
</ul>
