---
title: LG Smart TV
---

<div class="device-list--device device-list--device__tv">
  <a href="#">LG Smart TV</a>
  <span class="device-list--device__warning">
    Warning
  </span>
</div>

<div class="device-warning">
  <p>LG Smart TVs have been caught “phoning home” every time a user changes channel, as well as uploading the names of all files on attached memory sticks or USB hard drives.</p>

  <p>The settings to disable this appear to be misleading as, even when disabled, this continued to happen.</p>

  <div class="device-warning--options">
    <p><a href="/ignore.html"><button class="button button__green">OK, don’t warn me again</button></a></p>
    <p><a href="/lg_response.html"><button class="button button__red">I’m not comfortable with this</button></p>
  </div>
</div>

