---
title: Samsung Smart TV
---

<div class="device-list--device device-list--device__tv">
  <a href="#">Samsung Smart TV</a>
  <span class="device-list--device__warning">
    Warning
  </span>
</div>

<div class="device-warning">
  <p>Sends audio data to third party called Nuance.</p>
  <p>Samsung warns that customers should “be aware that if your spoken words include personal or other sensitive information, that information will be among the data captured and transmitted to a third party through your use of Voice Recognition.”</p>

  <div class="device-warning--options">
    <p><a href="/ignore.html"><button class="button button__green">OK, don’t warn me again</button></a></p>
    <p><a href="/samsung_response.html"><button class="button button__red">I’m not comfortable with this</button></a></p>
  </div>
</div>
