---
title: Samsung Smart TV
---

<div class="device-list--device device-list--device__tv">
  <a href="#">Samsung Smart TV</a>
  <span class="device-list--device__warning">
    Warning
  </span>
</div>

<div class="device-warning">
  <p>OK, you’ve got a couple of options for how to deal with this.</p>

  <div class="device-warning--options">
    <p><a href="/"><button class="button button__navy">Show me how to disable this</button></a></p>

    <p class="hint">You won’t be able to control your TV by voice any more.</p>

    <p><a href="/"><button class="button button__navy">Take my Samsung Smart TV offline</button></a></p>
    <p class="hint">You won’t be able to watch Netflix or iPlayer anymore, but TV through the aerial or set top box will still work.</p>

    <p><a href="/"><button class="button button__navy">Join 3865 people asking Samsung to change this</button></p>
  </div>
</div>



