---
title: TENVIZ Security Camera
---

<div class="device-list--device device-list--device__home">
  <a href="#">TENVIZ Security Camera</a>
  <span class="device-list--device__warning">
    Warning
  </span>
</div>

<div class="device-warning">
  <p>These devices use weak security that makes them simple to hack via the internet, even when using a strong password.</p>

  <div class="device-warning--options">
    <p><a href="/ignore.html"><button class="button button__green">OK, don’t warn me again</button></a></p>
    <p><a href="/tenviz_response.html"><button class="button button__red">I’m not comfortable with this</button></a></p>
  </div>
</div>

