---
title: TENVIZ Security Camera
---

<div class="device-list--device device-list--device__home">
  <a href="#">TENVIZ Security Camera</a>
  <span class="device-list--device__warning">
    Warning
  </span>
</div>

<div class="device-warning">
  <p>OK, you’ve got a couple of options for how to deal with this.</p>

  <div class="device-warning--options">
    <p><a href="/"><button class="button button__navy">Prevent my TENVIZ Security Camera connecting to the internet</button></a></p>

    <p class="hint">The manufacturer recommends this. This device will no longer be able to connect to the internet, but you will be able to access it inside your home network.</p>

    <p><a href="/"><button class="button button__navy">Contact the retailer for a refund</button></a></p>
    <p class="hint">You may be eligible for a refund under consumer law, on the basis that this product is defective.</p>
  </div>
</div>




